<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<div class="image">
  <% # 投稿の画像をサイズ変更して表示 %>
  <%= image_tag @post.image.variant(resize:'200x200') %>
</div>

<%= link_to '編集', edit_post_path(@post) %> |
<% if @post.user_id == current_user.id %>
<%= link_to '編集', edit_post_path(@post) %> |
<%= link_to '削除', @post, method: :delete, data: { confirm: '本当に削除してよろしいですか?' } %> |
<% end %>
<%= link_to '戻る', posts_path %>

